.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
}

.sidebar-link {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 40px;
}

.sidebar-link div {
  font-size: 10px;
  font-family: Roboto;
  font-weight: 500;
  justify-content: center;
  padding-top: 3px;
}
